# Node
node_modules/

# Next.js
.next/
out/
.next-cache/

# NestJS / TS
/dist/
/build/
*.tsbuildinfo

# Env
.env
.env.*
!*.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/Editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Misc
coverage/
.tmp/
.vercel/

# Lockfiles (optional; keep if you prefer deterministic builds)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml
